body{
    font-family: 'new tegomin', serif;
    background-color: lightgoldenrodyellow;
}
header{
    text-align: center;
    border: 1px solid green;
    background-color: green;
}
footer{
    text-align: center;
}
article{
    width: auto;
    height: auto;
    border: 15px solid green;
    padding: 100px;
    margin: auto;
    align-content: stretch;
  }
  .navbar {
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
  }
  img{
    float:right;
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 200px;
    width: 400px;
    align-items: center;
}
table, th, td, tr {
    border: 1px solid black;
    max-width: 700px;
    background-color: lightblue;
}
