.grid{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-auto-rows: minmax(100px,auto);
    min-width: 768px;
    grid-gap: 10px;
    margin: 0 auto;
    grid-template-areas: 
    "one one one one"
    "two three four five"
    "six six seven seven"
    "eight eight eight nine";
}

.one{
    background-color: #f5c6d6;
    grid-area: one;
}
.two{
    background-color: #ee2e84;
    grid-area: two;
}
.three{
    background-color: #ee2e84;
    grid-area: three;
}
.four{
    background-color: #ee2e84;
    grid-area: four;
}
.five{
    background-color: #ee2e84;
    grid-area: five;
}
.six{
    background-color: #85cfd8;
    grid-area: six;
}
.seven{
    background-color: #85cfd8;
    grid-area: seven;
}
.eight{
    background-color: #8dc63f;
    grid-area: eight;
}
.nine{
    background-color: #e76e34;
    grid-area: nine;
}
@media screen and (max-width:768px){
    .grid{
        display: grid;
        grid-template-columns:100%;;
        grid-template-areas: 
        "one"
        "two"
        "three"
        "five"
        "six"
        "seven"
        "eight"
        "nine";
    }
}